@font-face {
	font-family: "Sans";
	src: url("fonts/ROsanswebtextregular.eot?") format("embedded-opentype"),
	     url("fonts/ROsanswebtextregular.woff") format("opentype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Sans";
	src: url("fonts/ROsanswebtextitalic.eot?") format("embedded-opentype"),
	     url("fonts/ROsanswebtextitalic.woff") format("opentype");
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: "Sans";
	src: url("fonts/ROsanswebtextbold.eot?") format("embedded-opentype"),
	     url("fonts/ROsanswebtextbold.woff") format("opentype");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Serif";
	src: url("fonts/ROserifwebregular.eot?") format("embedded-opentype"),
	     url("fonts/ROserifwebregular.woff") format("opentype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Serif";
	src: url("fonts/ROserifwebitalic.eot?") format("embedded-opentype"),
	     url("fonts/ROserifwebitalic.woff") format("opentype");
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: "Serif";
	src: url("fonts/ROserifwebbold.eot?") format("embedded-opentype"),
	     url("fonts/ROserifwebbold.woff") format("opentype");
	font-weight: bold;
	font-style: normal;
}

body {
  font-family: "Sans";
}

.legend-column {
    display: inline-block;
    font-weight: bold;
    margin-left: 6px;
    margin-right: 20px;
}
.legend-column p {
    margin-bottom: 8px;
}

.legend-item {
    color: white;
    padding: 10px;
    width: 70px;
    text-align: center;
    display: inline-block;
    margin: 0;
}

.plant-nl {
    background-color: #A2A448;
}

.plant-eu {
    background-color: #B8B972;
}

.plant-buiten {
    background-color: #CFCF9F;
    color: #000000;
}

.dier-nl {
    background-color: #0087BE;
}

.dier-eu {
    background-color: #009CDF;
}

.dier-buiten {
    background-color: #9CCEF3;
    color: #000000;
}

div.tooltip {	
    padding: 6px;
    position: absolute;		
    width: 250px;																
    background: #00374D;	
    border: 0px;				
    pointer-events: none;
    color: #ffffff;			
}

div.tooltip h2 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 4px;
	margin-top: 0px;
}

div.tooltip p {
	font-size: 16px;
	margin-bottom: 4px;
	margin-top: 0px;
}

svg image {
    pointer-events: none;
}

.slidercontainer {
	padding: 10px;
}

 /* The switch - the box around the slider */
 .switch {
	position: relative;
	display: inline-block;
	width: 48px;
	height: 18px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #159ADF;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 14px;
	width: 14px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #159ADF;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #159ADF;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(28px);
	-ms-transform: translateX(28px);
	transform: translateX(28px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  } 

  #legend {
	  opacity: 0;
  }

  #viz {
	  position: relative;
  }

  .node {
	box-sizing: border-box;
	position: absolute;
	overflow: hidden;
  }

  .node.high {
	  border:3px solid white;
	  text-align: center;
	  white-space: nowrap;
  }

  .node.grass {
	border:3px solid white;
	opacity: 0.4;
	background-image: repeating-linear-gradient(
		45deg, transparent, transparent 6px, rgba(255,255,255,.5) 12px, rgba(255,255,255,.5) 12px
		);
  }

  .imghelper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

  .node.high img {
	  vertical-align: middle;
  }